body {
}
a:hover {
    text-decoration: none !important;
}
.form-search {
    margin: 50px;
}
.card-course-item {
    margin: 20px 0 0 0;
}
.user-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 3px;
    border-radius: 50%;
}
.trash-icon {
    position: relative;
    i {
        font-size: 25px;
        color: #007bff;
    }
    span {
        position: absolute;
        right: -15px;
        top: -10px;
    }
}

.check-box-all-option {
    margin: 0 20px;
    width: 150px !important;
}
