<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-size: 30px;">🐊</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">            
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                    <img src="https://yt3.ggpht.com/-kzxY1sfTjTo/AAAAAAAAAAI/AAAAAAAAAAA/6q5t-zeL8Qc/s900-c-k-no/photo.jpg" alt="user image" class="user-image">
                    Lemon
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/course/create">Create Course</a>                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/stored/courses">My Course</a>
                    <a class="dropdown-item" href="#">My Post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Exit</a>
                </div>
            </li>
        </ul>
    </div>
</nav>